.about .sections{
  display:flex;
  gap:2rem;
  flex-wrap: wrap;
  align-items: center;

  .left-section{
    flex:1;
    overflow: hidden;
    min-width:300px;
    position: relative;
    border-radius: .8rem;

    img{
      width:100%;
      transition: all .8s;

      &:hover{
        transform: scale(1.2);
        border:2px solid rgb(162, 159, 159);
      }
    }

    .years{
      position: absolute;
      bottom:10px;
      right:10px;
      font-weight: 700;
      padding:.4rem;
      margin:0;
      border-radius: .4rem;
      transform:rotate(15deg);
      transition: all .5s;
    }

    &:hover .years{
      transform:rotate(0deg);
    }
  }

  .right-section{
    flex:1;
    min-width:300px;

    p{
      border-left: .2rem solid var(--scolor);
      padding-left: .5rem;
    }

    .box{
      margin-top: 1.7rem;
      background: rgb(219, 216, 216);
      border-radius: .45rem;
      padding:.8rem;
      background: var(--sbg);

      small{
        padding:.5rem;
        display: inline-block;
        transform: translateX(0);
      }

      &:hover small{
        transform: translateX(.4rem);
        border-bottom: 1.2px solid var(--scolor) ;
      }
    }
  }
}