.sidebar{
  padding:.8rem;
  position:fixed;
  width:280px;
  top:0;
  right:0;
  height:100%;
  z-index:101;

  .top{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    padding:.8rem;
    border-bottom: .5px solid grey;
  }

  .logo{
    width:3.5rem;
  }

  p:first-of-type{
    margin:5rem 0 2rem;
  }

  .links{
    display:flex;
    flex-direction: column;
    gap:2.4rem;
  }

  .options{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:.9rem;
    bottom:0;
    left:0;
    width:100%;
    padding:.8rem;
    border-top:1px solid grey;

    div{
      display:flex;
      gap:.6rem;
    }

    button{
      width:100%;
      border-radius: .4rem;;
    }
  }


}